body{
    background: #FF8008;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #FFC837, #FF8008);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #FFC837, #FF8008); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
}
#logo_page{
    color: #FFC837;
    *background-color: black;
    width: 30px;
    height: 30px;
    padding: .2em;
    text-align: center;
    border-radius: 100%;
    margin: 0;
}
main{
    min-height: 100vh;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
}
.new_task{
    color: #000;
    *width: 35vw;
}
.new_task > form > * {
    height: 3em;
    margin: 1em 0;
    padding-left: 1em;
    width: 100%;
    border-radius: .5em;
}
.new_task > form > textarea{
    padding-top: .5em;
    min-height: 8em;
}
.new_task > form > button{
    font-size: 1em;
    width: 25%;
    margin: auto;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.tasks_container{
    font-size: 1rem;
    color: #FFF;
    margin: 1em;
    display: flex;
    flex-wrap: wrap;
    align-items: start;
    justify-content: center;
}
.task{
    position: relative;
    box-sizing: border-box;
    padding: 1.4em 2em;
    margin: 1.6em;
    flex-grow: 1;   
    flex-basis: 300px;
    max-width: 300px;
    height: 300px;
    border-radius: 2em;
    display: flex;
    flex-direction: column;
    transition: 1s all ease-in-out;
}
.task > .task_info{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}
.task > .task_info > * {
    flex-basis: 0;
}
.task > .task_info > .task_inputs{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}
.task > .task_info > .task_inputs > *{
    margin-top: 1em;
    border-radius: .4em;
    border-style: none;
}
.task > .task_info > .task_inputs > textarea{
    flex-grow: 1;
    margin-bottom: 1rem;
}
.task > div > .task_content{
    background-color: #0002;
    border-radius: .4em;
    padding: 1em;
    flex-grow: 1;
   overflow-y: scroll;
}


/* width */
.task ::-webkit-scrollbar {
    width: 10px;
    transition: 1s all ease-in-out;
}

/* Track */
.task ::-webkit-scrollbar-track {
    background: transparent;
}
.task ::-webkit-scrollbar-thumb {
    transition: 1s all ease-in-out;
    background: transparent;
    border-radius: 20px;
}
/* Handle */
.task:hover ::-webkit-scrollbar-thumb {
    transition: 1s all ease-in-out;
    background: #888;
}

/* Handle on hover */
.task ::-webkit-scrollbar-thumb:hover {
    background: #ccc;
    
}
footer{
    font-size: 1em;
}
.social-medias{
    *font-size: .8em;
}