<div class="task bg-dark" data-bs-theme="dark">
    <span class="task_title" class=""><%= title %></span>
    <p class="task_content">
        <%= content %>
    </p>
    <div>
        <a class="btn btn-success" href="#"><i class="fa-solid fa-check"></i></a>
        <a class="btn btn-danger" href="#"><i class="fa-solid fa-xmark"></i></a>
    </div>
</div>