<div class="task bg-dark" data-bs-theme="dark" data-id="<%= id %>" data-state="<%= state %>">
    <% if (state == "done") { %>
        <i class="state_task fa-solid fa-check" ></i>
    <% } else{ %>
        <i class="state_task fa-solid fa-xmark" ></i>
    <% } %>
    <div class="task_info">
        <span class="task_title" class=""><%= title %></span>
        <p class="task_content">
            <%= content %>
        </p>
        <!-- This Div will show when the task is being edit-->
        <div class="task_inputs w-100" hidden>
            <input type="text" value="">
            <textarea class="w-100" rows="3" value=""></textarea>
        </div>
    </div>
    <div class="task_options d-flex align-items-center justify-content-between">
        <div>
            <button class="btn mx-1 fs-4 p-0 "><i class="fa-solid fa-check text-success"></i></button>
            <button class="btn mx-1 fs-4"><i class="fa-solid fa-xmark text-danger"></i></button>
        </div>
        <div>
            <button class="btn mx-1 btn-warning editButton"><i class="fa fa-pen" aria-hidden="true"></i></button>
            <button class="btn mx-1 btn-danger deleteButton"><i class="fa fa-trash" aria-hidden="true"></i></button>
        </div>
    </div>
    <!-- This Button will show when the task is being edit-->
    <button class="btn mx-1 btn-warning confirmEditButton" hidden=""><i class="fa-solid fa-square-check"></i></button>
    <button class="btn mx-1 btn-warning undo_btn" hidden=""><i class="mx-auto fa-solid fa-reply"></i></button>
</div>